body{
  display: flex;
  flex-direction: column;
}

header, footer{
  background-color: #FFEEBB;
}

nav{
  width: 100px;
  background-color: #CEBFFF;
}
#page{
  display: flex;
  flex: 1;
}

#conteneur{
  flex: 1 1 auto;
  background-color: darkseagreen;
  display: flex;
  flex-direction: column;
}

article{
  display: flex;
}

p{
  padding : 0 5px;
}